*.csproj
.vs
.vsconfig
*.sln
*.csproj.meta
Library
Temp
Logs
obj
Assets/Kien_Dev_Assets
XC
XC_BurstDebugInformation_DoNotShip
Game_BurstDebugInformation_DoNotShip
Game_BackUpThisFolder_ButDontShipItWithYourGame
Assets/GeneratedLocalRepo
AND_BurstDebugInformation_DoNotShip
GeneratedLocalRepo.meta
AP
Game-0.0.1-v231105496-IL2CPP.symbols.zip
Game-0.0.1-v231106047-IL2CPP.symbols.zip
Game.apk
.vscode
.idea/.idea.BabyGames/.idea
Assets/Scripts/Shared/Editor/.idea
UserSettings/Layouts
Assets/Home/Artworks/Lobby/Bg/Psd Bg/
*.symbols.zip
*.aab
android-proj
Assets/Feel/FeelDemosURP/Strike/Sounds/FeelStrikeBgMusic.wav
Assets/Feel/FeelDemosURP/Strike/Sounds/FeelStrikeBgMusic.wav.meta
